/* GLOBAL RESET */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Imagem com ajuste automático por padrão */
.object-fit-cover {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* Container do menu com altura natural por padrão */
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #d4af37;
  text-align: center;
  padding: 2rem 1rem;
}

/* Botões */
.custom-btn {
  color: #d4af37;
}

.custom-btn:hover {
  color: #ffc401;
}

@media (min-width: 1000px) {
  .object-fit-cover,
  .menu-container {
    height: 100vh;
  }

  .responsive-direction {
    flex-direction: row !important;
  }
}
